*{
    margin: 0;
}
html, body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}
.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
    z-index: 1000;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: black;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  
.bakgrunn{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.bakgrunn1{
    background-image: url("img/Gift/Defaultimage.png");
}
.bakgrunn1.visible{
    display: block;
}

.door {
    position: absolute;
    right: 0;
    margin-right: 7rem;
    margin-top: 5.5rem;
    width: 12%;
    background: transparent;
}

.ring {
    position: absolute;
    left: 0;
    margin-top: 93.9vh;
    margin-left: 38.6vw;
}

.phone {
    position: absolute;
    bottom: 0;
    right: 0;
    /* margin-bottom: 0.3rem; */
    margin-right: 25rem;
    width: 9%;
}

.chat-container{
    position: relative;
    width: 260px;
    top: 25%;
    left: 15%;
    display: none;
}
.yes{
    position: absolute;
    left: 15%;
    bottom: 15%;
}
.no{
    position: absolute;
    right: 15%;
    bottom: 15%;
}
.ending{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.ending1{
    background-image: url("img/Gift/Outcome_gift.jpg");
}

.bakgrunn3{
    background-image: url("img/Paradise/Kaffe.png");
}
.bakgrunn3.visible{
    display: block;
}
.ending3{
    background-image: url("img/Paradise/Utfall.png");
}