*{
    margin: 0;
}
html, body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100%;
    width: 100vw;
    background-color: black;
}
h1{
    color: white;
    padding-top: 2rem;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5rem;
}
.profiler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* max-width: 80vw; */
}

.bilde{
    height: 70vh;
    margin: 2rem;
}

.unclickable {
    opacity: 10%;
}

.select {
    display: none;
}