*{
    margin: 0;
}
html, body {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
overflow-x: hidden;
}

@font-face {
    font-family: tinder;
    src:url("ChaletNewYorkNineteenSeventy.ttf");
}

main{
    height: 100%;
    width: 100vw;
    background-color: white;

}
h1{
    color: #ff6b6b;
    padding-top: 2rem;
    text-align: center;
    font-family: 'tinder', cursive;
    font-size: 5rem;
}
.profiler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.bilde{
    height: 70vh;
    margin: 1rem 4rem;
    border: 1px solid black;
    cursor: pointer;
}

.unclickable {
    opacity: 10%;
    pointer-events: none;
}

.select {
    display: none;
}